@model ServiciosRestaurantes.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}
<h1>Eliminar Restaurante @Model.Nombre</h1>
<hr />
<h3>Esta seguro de que desea eliminar este?</h3>
<div>
    <h4>Producto @Model.Nombre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurantes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurantes.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-warning">Regresar al listado</a>
    </form>
</div>
