@model ServiciosRestaurantes.Models.Restaurante

@{
    ViewData["Title"] = "Eliminar Restaurante";
}

<h1>Eliminar Restaurante @Model.Nombre</h1>
<hr />
<h3>Esta seguro de que desea eliminar este?</h3>
<div>
    <h4>Restaurante @Model.Nombre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRestaurante" />
        <input type="submit" value="Eliminar" class="btn btn-outline-primary" />
        <a asp-action="Index" class="btn btn-outline-warning">Regresar al listado</a>
    </form>
</div>
