@model IEnumerable<ServiciosRestaurantes.Models.Restaurante>

@{
    ViewData["Title"] = "Lista de Restaurantes";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Lista de Restaurantes</h2>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-block btn-outline-primary" asp-action="Create">Incluir Restaurante</a>
    </div>
</div>
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRestaurante" class="btn btn-outline-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRestaurante" class="btn btn-outline-warning">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRestaurante" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
